<html ng-app="todoApp">
<head>
  <title>ToDo App</title>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

  <script src="todo.js"></script>
  <script src="todo_item.js"></script>

</head >

  <body ng-controller="TodoCtrl">
    <form>
      <label for="itemname">Item Name</label>
      <input type="text" name="itemname" value="" ng-model="text">

      <label for="duedate">Item Name</label>
      <input type="date" name="duedate" value="" ng-model="dueDate">

      <input type="button" name="name" value="Create" ng-click="newItem(text,dueDate)">
    </form>

    <table>
      <thead>
        <th>Item</th>
        <th>Due Date</th>
        <th>Completed?</th>
        <th>Delete Completed Item</th>
      </thead>
      <tbody>
        <tr todo-item ng-repeat="item in items | filterByShowCompleted:showCompleted"></tr>
      </tbody>
    </table>

    <button ng-click="clearCompleted()">clear all completed items</button>

    <button ng-click="toggleCompleted()">
      <p ng-if="showCompleted">hide all completed items</p>
      <p ng-if="!showCompleted">show all completed items</p>
    </button>

  </body>
</html>
